save-exact=true
store-dir=../Tupiniquim-AI-Dev-Studio.data/cache/pnpm-store
cache-dir=../Tupiniquim-AI-Dev-Studio.data/cache/pnpm-metadata
virtual-store-dir=.pnpm
strict-peer-dependencies=true
verify-store-integrity=true
